{% capture popupShowMethod %}showPopup('{{ include.post.title }}'){% endcapture %}
{% capture popupHideMethod %}hidePopup('{{ include.post.title }}'){% endcapture %}
<div class="popup" onmouseover="{{ popupShowMethod }}" onmouseout="{{ popupHideMethod }}">

{% comment %}
{% if include.link == "true" %}
{% if include.label %}
<a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.label }}</a>
{% else %}
<a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a>
{% endif %}
{% else %}
{% if include.label %}
<a>{{ include.label }}</a>
{% else %}
<a>{{ include.post.title }}</a>
{% endif %}
{% endif %}
<span class="popuptext" id="{{ include.post.title }}" style="left: -150%;">{% include character-wide.html data=include.post.char_data title=include.post.title %}</span>
{% endcomment %}

<a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.label }}</a>
</div>