
{% capture urlContentMethod %}
	expand('{{ include.post.url }}')
{% endcapture %}

{% capture titleContentMethod %}
	expand('{{ include.title | slugify }}')
{% endcapture %}

{% if include.post %}

<button class="collapsible" onclick="{{ urlContentMethod }}"><h2 id="{{ include.post.title | slugify }}" style="border-bottom: 0px solid black; padding-top: 0.5em; padding-bottom: 0.5em; margin-top: 0.3em;">{{ include.post.title }}</h2></button><br>
<div class="collapsible_content" id="{{ include.post.url }}"><br>{{ include.post.excerpt }}
<!-- <a href="/sen{{ include.post.url }}">Read More</a><br><br>-->
</div>

{% else %}

<button class="collapsible" onclick="{{ titleContentMethod }}"><h2 id="{{ include.title | slugify | append: "title" }}" style="border-bottom: 0px solid black; padding-top: 0.5em; padding-bottom: 0.5em; margin-top: 0.3em;">{{ include.title }}</h2></button><br>
<div class="collapsible_content" id="{{ include.title | slugify }}"><br>{{ include.content | markdownify }}
</div>

{% endif %}