<style type="text/css">

.report-block
{
	background-image: url("/sen/assets/images/block-bg.png");
	clip-path: polygon(0% 0%, 100% 0%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 100% 100%, 0% 100%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); 

	font-family:Courier New, monospace;
	padding: 20px;
	color: black;
	width: 110%;

	h1
	{
		font-family:Courier New, monospace;
	}
}

</style>

<div class="report-block">
{{ include.content | markdownify }}
</div>