{% if page.sidebar_ext.image %}

  {% unless page.sidebar_ext.image == "" or page.sidebar_ext.image == true %}

    <img src="{{ page.sidebar_ext.image | prepend: site.baseurl }}" style="width: 375px; height: 375px;" alt="image" class="left">

  {% else %}

  {% capture image_name %}
  {{ site.url | append: site.baseurl | append: "/assets/images/people/" | append: page.title | append: ".png" }}
  {% endcapture %}

    <img src="{{ image_name | downcase }}" alt="image" class="left">

  {% endunless %}
{% endif %}
