---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.info_text{
  color: $muted-text-color;
}

.href:before
{
  content: "{{ site.baseurl }}";
}

.todo {
  margin-bottom: 12px;
  padding-top: 12px;
  color: yellow;
  border-bottom: 1px solid #fff;
}

.todo:before {
  content: "Coming Soon: ";
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.info_text .show {
  visibility: visible;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.page__subtitle{
    border-bottom: 1px solid $light-gray;
    font-size: $type-size-6;
    color: $muted-text-color;
    padding-bottom: -10%;
}

.input-color {
    position: relative;
}

.input-color input {
    padding-left: 20px;
}

.input-color .color-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
    left: 0px;
    top: 2px;
}

/* Popup container */
.popup 
{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext 
{
  opacity: 0;
  background-color: #31394a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  transition: .6s ease;
  pointer-events: none;
}

/* Popup arrow */
.popup .popuptext::after 
{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #31394a transparent transparent transparent;
}

.popup:hover .popuptext
{
  opacity: 1;
}

.peekbox {

}

.peekbox_fade {
  content: "";
  position: relative;
  bottom: 4em;
  height: 4em;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), #252a34 40%);
  width: 100%;
  transition: .8s ease;
  margin-bottom: -3em;
  margin-left: -1px;
}

.peekbox:hover .peekbox_fade {
  opacity: 0;
}

.collapsible_container
{
  background-color: #0f1216;
  padding: 16px;
  padding-bottom: 24px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
}

.collapsible {
  background-color: #0f1216;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 8px;
  padding: 0 14px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible_content {
  padding: 0 18px 8px;
  max-height: 0;
  overflow: hidden;
  margin-top: -8px;
  transition: max-height 0.35s ease-out;
  background-color: #1a1e25;
  border-radius: 0px 0px 8px 8px;
}

.dndblock {

    background-image: url("/sen/assets/images/block-bg.png");
    color: #000;
    padding: 16px;

    .gradient {
        background: linear-gradient(10deg, #A73335, rgba(0,0,0,0));
        height:5px;
        margin:7px 0px;
    }

    .name {
        font-size:225%;
        font-family:Georgia, serif;
        font-variant:small-caps;
        font-weight:bold;
        color:#A73335;
    }

    .description {
        font-style:italic;    
    }

    .bold {
        font-weight:bold;
    }

    .red {
        color:#A73335;
    }

    table {
        width:100%;
        border:0px;
        border-collapse:collapse;
        color:#A73335;
    }

    th, td {
        width:50px;
        text-align:center;
    }

    .actions {
        font-size:175%;
        font-variant:small-caps;
        margin:17px 0px 0px 0px;
    }

    .hr {
        background: #A73335;
        height:2px;
    }

    .attack {
        margin:5px 0px;
    }

    .attackname {
        font-weight:bold;
        font-style:italic;
    }
}